<!DOCTYPE html>
<html>
<head>
	<% include header %>
	<title>Gratisss.fr - Programme de fidelite. Echange de points contre des echantillons, cadeaux, bonus</title>

	<link rel="stylesheet" href="css/compiled/pricing.css" type="text/css" media="screen">
</head>
<body>
	<% include navBar %>
    <!-- Pricing Option 1 -->
    <div id="in_pricing">
        <div class="container">
            <div class="head">
                <h3>Chez Gratisss on recompensanse votre fidelite</h3>
                <h6>Echangez vos points bonus contre des cadeaux</h6>
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="col-sm-4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Un peu</h3>
                            <div class="price">
                                <span class="qty">300</span> 
								<span class="month">points</span> 
                            </div>
                            <div class="features">
                                <p>
                                    <strong>1</strong>
                                    Echantillon parfum de grande marque (homme ou femme)
                                </p>
                                <p>
                                    <strong>1</strong>
                                    Echantillon alimentaire
                                </p>
                                <p>
                                    <strong>1</strong>
                                    Echantillon cosmetique
                                </p>
                            </div>
                            <a class="order" href="#">Echangez mes points</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-4 pro">
                    <div class="plan">
                        <div class="wrapper">
                            <img class="ribbon" src="img/badge.png">
                            <h3>Beaucoup</h3>
                            <div class="price">
                                
                                <span class="qty">600</span> 
                                <span class="month">points</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>3</strong>
                                    Echantillons de parfum de grande marque (homme ou femme) 
                                </p>
                                <p>
                                    <strong>3</strong>
                                    Echantillons alimentaires
                                </p>
                                <p>
                                    <strong>3</strong>
                                     Echantillons cosmetiques
                                </p>
                                <p>
                                    <strong>1 </strong>
                                    Magazine au choix (sport, culture, beaute)
                                </p>
                            </div>
                            <a class="order" href="#">Echangez mes points</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-4 standar">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Passionement</h3>
                            <div class="price">
                                
                                <span class="qty">900</span> 
                                <span class="month">points</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Echantillons de parfum de grande marque (homme ou femme) 
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Echantillons alimentaires
                                </p>
                                <p>
                                    <strong>10</strong>
                                     Echantillons cosmetiques
                                </p>
                                <p>
                                    <strong>1 an</strong>
                                    d'abbonement a un magazine au choix (sport, culture, beaute)
                                </p>
                            </div>
                            <a class="order" href="#">Echangez mes points</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="start">
                <p>Afin de pouvoir cumuler des points, vous devez disposer d'un compte! </p>
                <a href="/inscription">Inscription!</a>
            </div>
        </div>
    </div>
    <!-- FAQs -->
    <div id="faq">
        <div class="container">
            <div class="section_header">
                <h3>(FAQ) Questions frequentes</h3>
            </div>

            <div class="row">
                <div class="col-sm-6 block">
                    <div class="box">
                        <p class="title">Comment gagne-t-on des points?</p>
                        <p class="answ">
                            Nous recompenssons votre fidelite en vous donnant des points. Vous pouvez nous temoigner votre fidelite, soit en partagant/aimant une de nos pages sur les reseaux sociaux, soit en proposant des contenues.</p>
                    </div>
                    <div class="box">
                        <p class="title">Quelles sont les marques que vous proposez?</p>
                        <p class="answ">
                            Elles changent assez regulierement difficile donc de repondre. Ce que nous pouvons vous assurer, c'est que les echantillons que nous selectionnons sont issues de grandes marques et font parties des produits que l'on peut trouver en supermarche.</p>
                    </div>
                </div>

                <div class="col-sm-6 block">
                    <div class="box">
                        <p class="title">Comment echangez mes points?</p>
                        <p class="answ">
                            Si vous n'avez pas encore renseigne votre adresse postale, vous serez redirige vers votre page de profil. Ensuite un petit message de confirmation aparaitrat et vous serez debite de vos points de fidelite.</p>
                    </div>
                    <div class="box">
                        <p class="title">En combien de temps je serai livre?</p>
                        <p class="answ">
                            En generale nous essayons de livrer en 2 semaines ouvrables maximum. Des que votre paquet sera expedie de nos bureaux vous recevrez immediatement un email pour vous en avertir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include footer %>
</body>
</html>