<!DOCTYPE html>
<html>
<head>
<% include header %>
<link rel="stylesheet" href="css/compiled/pricing.css" type="text/css" media="screen">
</head>
<body>
	<% include navBar %>
    <!-- Pricing Option 1 -->
    <div id="in_pricing">
        <div class="container">
            <div class="head">
                <h3>Chez Gratisss on recompensanse votre fidelite</h3>
                <h6>Echangez vos points bonus contre des cadeaux</h6>
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="col-sm-4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Un peu</h3>
                            <div class="price">
                                <span class="qty">300</span> 
								<span class="month">points</span> 
                            </div>
                            <div class="features">
                                <p>
                                    <strong>1</strong>
                                    Echantillon parfum de grande marque (homme ou femme)
                                </p>
                                <p>
                                    <strong>1</strong>
                                    Echantillon alimentaire
                                </p>
                                <p>
                                    <strong>1</strong>
                                    Echantillon cosmetique
                                </p>
                            </div>
                            <a class="order" href="#">ORDER NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-4 pro">
                    <div class="plan">
                        <div class="wrapper">
                            <img class="ribbon" src="img/badge.png">
                            <h3>Beaucoup</h3>
                            <div class="price">
                                
                                <span class="qty">600</span> 
                                <span class="month">points</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>3</strong>
                                    Echantillon parfum de grande marque (homme ou femme) 
                                </p>
                                <p>
                                    <strong>3</strong>
                                    Echantillon alimentaire
                                </p>
                                <p>
                                    <strong>3</strong>
                                     Echantillon cosmetique
                                </p>
                                <p>
                                    <strong>Plus </strong>
                                    Phone Support
                                </p>
                            </div>
                            <a class="order" href="#">ORDER NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-4 standar">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Passionement</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">65</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>4</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Storage
                                </p>
                            </div>
                            <a class="order" href="#">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="start">
                <p>Start your free, no-risk, 14 day trial! </p>
                <a href="#">Start Now!</a>
            </div>
        </div>
    </div>
    <!-- FAQs -->
    <div id="faq">
        <div class="container">
            <div class="section_header">
                <h3>Frequently asked questions</h3>
            </div>

            <div class="row">
                <div class="col-sm-6 block">
                    <div class="box">
                        <p class="title">How long are your contracts?</p>
                        <p class="answ">
                            There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
                    </div>
                    <div class="box">
                        <p class="title">How do i sign up?</p>
                        <p class="answ">
                            There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>

                <div class="col-sm-6 block">
                    <div class="box">
                        <p class="title">What is meant by unlimited?</p>
                        <p class="answ">
                            There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
                    </div>
                    <div class="box">
                        <p class="title">Is there a discount for yearly service?</p>
                        <p class="answ">
                            There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include footer %>
</body>
</html>