<% include header %>
<body class="pull_top">
    
<% include navBar %>

    <div class="container">
		<div class="section_header">
            <h3>Echantillon du jour selectionne par notre equipe</h3>
        </div>  
		<div class="row">
			<div class="col-sm-4">
				<div class="feature">
                    <div class="img">
                        <img src="http://www.echantillonsclub.com/slide/17.jpg">
                    </div>
				</div>
			</div>
			<div class="col-sm-8">
				<p>Lancôme vous propose de découvrir les soins à adopter pour votre rituel de beauté quotidien. <br/>
					Effectuez votre diagnostique pour recevoir votre rituel soin sous la forme de 3 échantillons gratuits.<br/>
					<br/>
					Pour recevoir gratuitement vos échantillons, il vous suffit de :<br/>
					1. Cliquer sur “réalisez votre Diagnostic”,<br/>
					2. Choisir votre “principal besoin beauté”,<br/>
					3. Cliquer sur “continuez votre diagnostic”,<br/>
					4. Cliquer sur “commandez votre rituel en échantillon offert”,<br/>
					5. Compléter vos coordonnées<br/>
					<br/>
					Votre rituel soin Lancôme contiendra le sérum anti-âge Advanced Génifique ainsi que 2 autres échantillons Lancôme qui correspondent à votre besoin beauté.<br/>
					<br/>
					Cette offre est réservée au territoire français.<br/>
					<br/>
					NOTE : Si votre rituel beauté n’est plus disponible, il vous suffit de revenir demain car la marque met à jour régulièrement son stock.
				</p>
				<button type="button" class="btn btn-default">Je le veux !</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="img/fleche1.png" />
			</div>
			<div class="col-sm-8">
				<div class="fb-comments" data-href="http://130.211.58.49/" data-numposts="2" data-colorscheme="light"></div>		
			</div>
		</div>

	</div>

	<% include footer %>