<% include header %>
<body class="pull_top">
    
	<% include navBar %>

	
	<div id="sign_up2">
        <div class="container">
            <div class="section_header">
                <h3>Inscription</h3>
            </div>
            <div class="row login">
                <div class="col-sm-5 left_box">
                    <h4>Creer un compte</h4>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos ico1"></span>
                            <p><strong>Augmenter ses chances d'etre selectionne</strong> car nous reservons les premiers echantillons et nos bons plans d'abord a nos internautes inscrits</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico2"></span>
                            <p><strong>Profiter en avant premiere des bons plans</strong> soyez, le premier a recevoir les offres de nos partenaires afin d'augmenter vos chances d'etre selectionne. Vous pouvez choisir la frequences des notifications</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico3"></span>
                            <p><strong>Cumuler des points </strong> afin de recevoir des cadeaux bonus reserve aux membres les plus fideles.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                            <div class="social">
                                <a href="#" class="circle facebook">
                                    <img src="img/face.png" alt="">
                                </a>
                                 <a href="#" class="circle twitter">
                                    <img src="img/twt.png" alt="">
                                </a>
                                 <a href="#" class="circle gplus">
                                    <img src="img/gplus.png" alt="">
                                </a>
                            </div>

                            <div class="division">
                                <div class="line l"></div>
                                <span>Ou</span>
                                <div class="line r"></div>
                            </div>

                            <div class="form">
                                <form>
                                    <input type="text" name="email" placeholder="Email" class="form-control">
                                    <input type="text" name="password" placeholder="Mot de passe" class="form-control">
                                    <input type="text" name="passwordConfirm" placeholder="Confirmer votre mot de passe" class="form-control">
                                    <div class="forgot">
                                        <span>Vous disposez deja d'un compte?</span>
                                        <a href="sign-in.html">Se connecter</a>
                                    </div>
                                    <input type="submit" value="Creer un compte">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<% include footer %>