    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><strong>Un Jour Un Echantillon</strong></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">HOME</a></li>
                    <li><a href="about-us.html">A propos de nous</a></li>
                    <li><a href="contact.html">Codes de reduction</a></li>
                    <li><a href="blog.html">BLOG</a></li>
                    <li><a href="sign-up.html">S'enregistrer</a></li>
                    <li><a href="sign-in.html">Se connecter</a></li>
                </ul>
            </div>
        </div>
    </div>